//      // verilator_coverage annotation
        // 
        // -------------------------------------------------------------
        //    Copyright 2004-2008 Synopsys, Inc.
        //    Copyright 2010 Mentor Graphics Corporation
        //    All Rights Reserved Worldwide
        // 
        //    Licensed under the Apache License, Version 2.0 (the
        //    "License"); you may not use this file except in
        //    compliance with the License.  You may obtain a copy of
        //    the License at
        // 
        //        http://www.apache.org/licenses/LICENSE-2.0
        // 
        //    Unless required by applicable law or agreed to in
        //    writing, software distributed under the License is
        //    distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
        //    CONDITIONS OF ANY KIND, either express or implied.  See
        //    the License for the specific language governing
        //    permissions and limitations under the License.
        // -------------------------------------------------------------
        // 
        
        //------------------------------------------------------------------------------
        // Title: Bit Bashing Test Sequences
        //------------------------------------------------------------------------------
        // This section defines classes that test individual bits of the registers
        // defined in a register model.
        //------------------------------------------------------------------------------
        
        //------------------------------------------------------------------------------
        // Class: uvm_reg_single_bit_bash_seq
        //
        // Verify the implementation of a single register
        // by attempting to write 1's and 0's to every bit in it,
        // via every address map in which the register is mapped,
        // making sure that the resulting value matches the mirrored value.
        //
        // If bit-type resource named
        // "NO_REG_TESTS" or "NO_REG_BIT_BASH_TEST"
        // in the "REG::" namespace
        // matches the full name of the register,
        // the register is not tested.
        //
        //| uvm_resource_db#(bit)::set({"REG::",regmodel.blk.r0.get_full_name()},
        //|                            "NO_REG_TESTS", 1, this);
        //
        // Registers that contain fields with unknown access policies
        // cannot be tested.
        //
        // The DUT should be idle and not modify any register durign this test.
        //
        //------------------------------------------------------------------------------
        
        class uvm_reg_single_bit_bash_seq extends uvm_reg_sequence #(uvm_sequence #(uvm_reg_item));
        
           // Variable: rg
           // The register to be tested
           uvm_reg rg;
        
%000001    `uvm_object_utils(uvm_reg_single_bit_bash_seq)
-000000  point: type=branch comment=else hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
-000000  point: type=expr comment=((what__ ==? UVM_SETINT)==0 && (what__ ==? UVM_SETSTR)==0 && (what__ ==? UVM_SETOBJ)==0) => 0 hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
-000000  point: type=expr comment=((what__ ==? UVM_SETINT)==1) => 1 hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
-000000  point: type=expr comment=((what__ ==? UVM_SETOBJ)==1) => 1 hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
-000000  point: type=expr comment=((what__ ==? UVM_SETSTR)==1) => 1 hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
-000001  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
-000000  point: type=branch comment=if hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
-000000  point: type=branch comment=else hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
-000000  point: type=branch comment=if hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
-000000  point: type=branch comment=else hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
-000000  point: type=branch comment=if hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
        
%000000    function new(string name="uvm_reg_single_bit_bash_seq");
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
%000000      super.new(name);
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
           endfunction
        
%000000    virtual task body();
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
%000000       uvm_reg_field fields[$];
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
%000000       string mode[`UVM_REG_DATA_WIDTH];
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
%000000       uvm_reg_map maps[$];
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
%000000       uvm_reg_data_t  dc_mask;
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
%000000       uvm_reg_data_t  reset_val;
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
%000000       int n_bits;
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
                 
%000000       if (rg == null) begin
-000000  point: type=branch comment=if hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
-000000  point: type=branch comment=else hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
%000000          `uvm_error("uvm_reg_bit_bash_seq", "No register specified to run sequence on");
-000000  point: type=branch comment=if hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
-000000  point: type=branch comment=if hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
-000000  point: type=branch comment=else hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
%000000          return;
-000000  point: type=branch comment=if hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
              end
        
              // Registers with some attributes are not to be tested
%000000       if (uvm_resource_db#(bit)::get_by_name({"REG::",rg.get_full_name()},
-000000  point: type=branch comment=if hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
-000000  point: type=branch comment=else hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
                                                     "NO_REG_TESTS", 0) != null ||
                  uvm_resource_db#(bit)::get_by_name({"REG::",rg.get_full_name()},
                                                     "NO_REG_BIT_BASH_TEST", 0) != null )
%000000             return;
-000000  point: type=branch comment=if hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
              
%000000       n_bits = rg.get_n_bytes() * 8;
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
                 
              // Let's see what kind of bits we have...
%000000       rg.get_fields(fields);
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
                 
              // Registers may be accessible from multiple physical interfaces (maps)
%000000       rg.get_maps(maps);
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
                 
              // Bash the bits in the register via each map
%000000       foreach (maps[j]) begin
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
-000000  point: type=branch comment=if hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
-000000  point: type=branch comment=else hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
%000000          uvm_status_e status;
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
%000000          uvm_reg_data_t  val, exp, v;
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
%000000          int next_lsb;
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
                 
%000000          next_lsb = 0;
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
%000000          dc_mask  = 0;
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
%000000          foreach (fields[k]) begin
-000000  point: type=branch comment=if hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
-000000  point: type=branch comment=else hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
%000000             int lsb, w, dc;
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
        
%000000             dc = (fields[k].get_compare() == UVM_NO_CHECK);
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
%000000             lsb = fields[k].get_lsb_pos();
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
%000000             w   = fields[k].get_n_bits();
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
                    // Ignore Write-only fields because
                    // you are not supposed to read them
%000000             case (fields[k].get_access(maps[j]))
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
%000000              "WO", "WOC", "WOS", "WO1": dc = 1;
-000000  point: type=line comment=case hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
                    endcase
                    // Any unused bits on the right side of the LSB?
%000000             while (next_lsb < lsb) mode[next_lsb++] = "RO";
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
                    
%000000             repeat (w) begin
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
%000000                mode[next_lsb] = fields[k].get_access(maps[j]);
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
%000000                dc_mask[next_lsb] = dc;
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
%000000                next_lsb++;
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
                    end
                 end
                 // Any unused bits on the left side of the MSB?
%000000          while (next_lsb < `UVM_REG_DATA_WIDTH)
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
%000000             mode[next_lsb++] = "RO";
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
                 
                 `uvm_info("uvm_reg_bit_bash_seq", $sformatf("Verifying bits in register %s in map \"%s\"...",
%000000                                     rg.get_full_name(), maps[j].get_full_name()),UVM_LOW);
-000000  point: type=branch comment=if hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
-000000  point: type=branch comment=else hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
                 
                 // Bash the kth bit
%000000          for (int k = 0; k < n_bits; k++) begin
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
                    // Cannot test unpredictable bit behavior
%000000             if (dc_mask[k]) continue;
-000000  point: type=branch comment=if hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
-000000  point: type=branch comment=else hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
        
%000000             bash_kth_bit(rg, k, mode[k], maps[j], dc_mask);
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
                 end
                    
              end
           endtask: body
        
        
%000000    task bash_kth_bit(uvm_reg         rg,
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
                             int             k,
                             string          mode,
                             uvm_reg_map     map,
                             uvm_reg_data_t  dc_mask);
%000000       uvm_status_e status;
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
%000000       uvm_reg_data_t  val, exp, v;
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
%000000       bit bit_val;
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
        
%000000       `uvm_info("uvm_reg_bit_bash_seq", $sformatf("...Bashing %s bit #%0d", mode, k),UVM_HIGH);
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
-000000  point: type=branch comment=if hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
-000000  point: type=branch comment=else hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
              
%000000       repeat (2) begin
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
%000000          val = rg.get();
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
%000000          v   = val;
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
%000000          exp = val;
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
%000000          val[k] = ~val[k];
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
-000000  point: type=expr comment=(val[k[5:0]+:1]==0) => 1 hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
-000000  point: type=expr comment=(val[k[5:0]+:1]==1) => 0 hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
%000000          bit_val = val[k];
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
                 
%000000          rg.write(status, val, UVM_FRONTDOOR, map, this);
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
%000000          if (status != UVM_IS_OK) begin
-000000  point: type=branch comment=if hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
-000000  point: type=branch comment=else hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
                    `uvm_error("uvm_reg_bit_bash_seq", $sformatf("Status was %s when writing to register \"%s\" through map \"%s\".",
%000000                                         status.name(), rg.get_full_name(), map.get_full_name()));
-000000  point: type=branch comment=if hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
-000000  point: type=branch comment=if hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
-000000  point: type=branch comment=else hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
                 end
                 
%000000          exp = rg.get() & ~dc_mask;
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
%000000          rg.read(status, val, UVM_FRONTDOOR, map, this);
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
%000000          if (status != UVM_IS_OK) begin
-000000  point: type=branch comment=if hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
-000000  point: type=branch comment=else hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
                    `uvm_error("uvm_reg_bit_bash_seq", $sformatf("Status was %s when reading register \"%s\" through map \"%s\".",
%000000                                         status.name(), rg.get_full_name(), map.get_full_name()));
-000000  point: type=branch comment=if hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
-000000  point: type=branch comment=if hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
-000000  point: type=branch comment=else hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
                 end
        
%000000          val &= ~dc_mask;
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
%000000          if (val !== exp) begin
-000000  point: type=branch comment=if hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
-000000  point: type=branch comment=else hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
                    `uvm_error("uvm_reg_bit_bash_seq", $sformatf("Writing a %b in bit #%0d of register \"%s\" with initial value 'h%h yielded 'h%h instead of 'h%h",
%000000                                         bit_val, k, rg.get_full_name(), v, val, exp));
-000000  point: type=branch comment=if hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
-000000  point: type=branch comment=if hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
-000000  point: type=branch comment=else hier=uvm_pkg::uvm_reg_single_bit_bash_seq__Vclpkg
                 end
              end
           endtask: bash_kth_bit
        
        endclass: uvm_reg_single_bit_bash_seq
        
        
        //------------------------------------------------------------------------------
        // Class: uvm_reg_bit_bash_seq
        //
        //
        // Verify the implementation of all registers in a block
        // by executing the <uvm_reg_single_bit_bash_seq> sequence on it.
        //
        // If bit-type resource named
        // "NO_REG_TESTS" or "NO_REG_BIT_BASH_TEST"
        // in the "REG::" namespace
        // matches the full name of the block,
        // the block is not tested.
        //
        //| uvm_resource_db#(bit)::set({"REG::",regmodel.blk.get_full_name(),".*"},
        //|                            "NO_REG_TESTS", 1, this);
        //
        //------------------------------------------------------------------------------
        
        class uvm_reg_bit_bash_seq extends uvm_reg_sequence #(uvm_sequence #(uvm_reg_item));
        
           // Variable: model
           //
           // The block to be tested. Declared in the base class.
           //
           //| uvm_reg_block model; 
        
        
           // Variable: reg_seq
           //
           // The sequence used to test one register
           //
           protected uvm_reg_single_bit_bash_seq reg_seq;
           
%000001    `uvm_object_utils(uvm_reg_bit_bash_seq)
-000000  point: type=branch comment=else hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
-000000  point: type=expr comment=((what__ ==? UVM_SETINT)==0 && (what__ ==? UVM_SETSTR)==0 && (what__ ==? UVM_SETOBJ)==0) => 0 hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
-000000  point: type=expr comment=((what__ ==? UVM_SETINT)==1) => 1 hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
-000000  point: type=expr comment=((what__ ==? UVM_SETOBJ)==1) => 1 hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
-000000  point: type=expr comment=((what__ ==? UVM_SETSTR)==1) => 1 hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
-000001  point: type=line comment=block hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
-000000  point: type=branch comment=if hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
-000000  point: type=branch comment=else hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
-000000  point: type=branch comment=if hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
-000000  point: type=branch comment=else hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
-000000  point: type=branch comment=if hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
        
%000000    function new(string name="uvm_reg_bit_bash_seq");
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
%000000      super.new(name);
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
           endfunction
        
        
           // Task: body
           //
           // Executes the Register Bit Bash sequence.
           // Do not call directly. Use seq.start() instead.
           //
%000000    virtual task body();
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
              
%000000       if (model == null) begin
-000000  point: type=branch comment=if hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
-000000  point: type=branch comment=else hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
%000000          `uvm_error("uvm_reg_bit_bash_seq", "No register model specified to run sequence on");
-000000  point: type=branch comment=if hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
-000000  point: type=branch comment=if hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
-000000  point: type=branch comment=else hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
%000000          return;
-000000  point: type=branch comment=if hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
              end
        
%000000       uvm_report_info("STARTING_SEQ",{"\n\nStarting ",get_name()," sequence...\n"},UVM_LOW);
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
        
%000000       reg_seq = uvm_reg_single_bit_bash_seq::type_id::create("reg_single_bit_bash_seq");
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
        
%000000       this.reset_blk(model);
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
%000000       model.reset();
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
        
%000000       do_block(model);
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
           endtask
        
        
           // Task: do_block
           //
           // Test all of the registers in a a given ~block~
           //
%000000    protected virtual task do_block(uvm_reg_block blk);
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
%000000       uvm_reg regs[$];
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
        
%000000       if (uvm_resource_db#(bit)::get_by_name({"REG::",blk.get_full_name()},
-000000  point: type=branch comment=if hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
-000000  point: type=branch comment=else hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
                                                     "NO_REG_TESTS", 0) != null ||
                  uvm_resource_db#(bit)::get_by_name({"REG::",blk.get_full_name()},
                                                     "NO_REG_BIT_BASH_TEST", 0) != null )
%000000          return;
-000000  point: type=branch comment=if hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
        
              // Iterate over all registers, checking accesses
%000000       blk.get_registers(regs, UVM_NO_HIER);
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
%000000       foreach (regs[i]) begin
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
-000000  point: type=branch comment=if hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
-000000  point: type=branch comment=else hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
                 // Registers with some attributes are not to be tested
%000000          if (uvm_resource_db#(bit)::get_by_name({"REG::",regs[i].get_full_name()},
-000000  point: type=branch comment=if hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
-000000  point: type=branch comment=else hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
                                                        "NO_REG_TESTS", 0) != null ||
        	     uvm_resource_db#(bit)::get_by_name({"REG::",regs[i].get_full_name()},
                                                        "NO_REG_BIT_BASH_TEST", 0) != null )
%000000             continue;
-000000  point: type=branch comment=if hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
                 
%000000          reg_seq.rg = regs[i];
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
%000000          reg_seq.start(null,this);
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
              end
        
%000000       begin
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
%000000          uvm_reg_block blks[$];
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
                 
%000000          blk.get_blocks(blks);
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
%000000          foreach (blks[i]) begin
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
-000000  point: type=branch comment=if hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
-000000  point: type=branch comment=else hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
%000000             do_block(blks[i]);
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
                 end
              end
           endtask: do_block
        
        
           // Task: reset_blk
           //
           // Reset the DUT that corresponds to the specified block abstraction class.
           //
           // Currently empty.
           // Will rollback the environment's phase to the ~reset~
           // phase once the new phasing is available.
           //
           // In the meantime, the DUT should be reset before executing this
           // test sequence or this method should be implemented
           // in an extension to reset the DUT.
           //
%000000    virtual task reset_blk(uvm_reg_block blk);
-000000  point: type=line comment=block hier=uvm_pkg::uvm_reg_bit_bash_seq__Vclpkg
           endtask
        
        endclass: uvm_reg_bit_bash_seq
        
        
